h1 {
    color:rgb(255, 85, 176);
    font-family:fantasy; 
    text-align:center;
    border-style:groove;
    border-color:chartreuse;
    border-radius:15px;
}

body {
    background-color:lemonchiffon;
    text-align: center;
    
}
