h1 {
    color:rgb(255, 85, 176);
    font-family:sans-serif; 
    text-align:center;
    border-style:groove;
    border-color:chartreuse;
    border-radius:15px;
    padding: 10px;
    margin:10px;
}

h2 {
    color:crimson;
    font-size:large;
}

ul {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow: hidden;
    background-color: #FFDF4F;
    }
     
    ul li {
    float: left;
    }

    ul li a {
    display: block;
    color:crimson;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    ul li a:hover {
    background-color: #E3C130;
    }

    ul li a.active {
        background-color:lightgreen;
    }

body {
    background-color:lemonchiffon;
    text-align: center;
    
}

.venstre-boks {
    display:block;
    background-color:rgb(255, 159, 194);
    border-style:dotted;
    border-color:crimson;
    padding: 50px;
    align-content: center;
    margin:auto;
}

.intro {
    color:olive;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    border:double;
    border-color:chartreuse;
    border-width:5px;
    padding:25px;
    margin:5px;
}

.bok {
    color:crimson;
    text-align: center;
    font-size:large;
    border-style:dotted;
    border-color:crimson;
    padding:25px;
    margin: 10px;
}

.venner {
    display:flex;
    background-color:lemonchiffon;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align:center;
    align-items:stretch;
    align-content:stretch;
    font-family:fantasy;
    gap:0px;
}

.venner div {
    background-color: #9AFF63;
    margin:10px;
    padding:30px;
    max-width:100%;
    text-align:center;
    border-style:double;
    border-color:hotpink;
    border-width: 5px;
}

.container {
    display:flex;
    background-color:rgb(255, 159, 194);
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: stretch;
    align-content:stretch;
    text-align:center;
    gap:0px;
}

.container div {
    background-color: lemonchiffon;
    margin:10px;
    padding:30px;
    width:300px;
    max-width:100%;
    text-align: center;
}


@media (max-width:100%) {
    .container {
        flex-direction:column;
        justify-content: center;
    }
    .venner {
        flex-direction:column;
        margin:0px;
        padding:0px;
    }
}

.om-nettsiden {
    color:crimson;
    text-align:center;
    font-size: medium;
    font-family: serif;
    background-color:rgb(255, 159, 194);
    padding: 25px;
    border-style:dotted;
    border-color:crimson;
}

.questions {
    color:crimson;
    text-align: center;
    padding: 25px;
    font-size:medium;
    background-color: rgb(196, 240, 110);
    border-style:dashed;
    border-color:crimson;
    border-radius: 50px;
}